# Python
__pycache__/
*.pyc
.venv/
venv/
env/
.pytest_cache/
*.egg-info/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Env / secrets (for future parts, e.g. API keys)
.env

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
